# Gradle
.gradle/
build/

# Android
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
local.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store

# Keystore
*.jks
*.keystore

# Misc
.externalNativeBuild
.cxx/
freeline/
*.log
